<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <title>Document</title>
    <style>
        body {
          background-image: url('https://thumbs.dreamstime.com/b/purple-petunia-flowers-bed-beautiful-blurred-nature-background-banner-website-garden-concept-toned-54798543.jpg');
        }
        div {
    background-color: rgb(255, 255, 255);
    width: 300px;
    border: 15px solid rgb(3, 1, 134);
    padding: 50px;
    margin: 20px;
    margin-left: 450px;
    margin-top: 180px;
  }
  .button {
  background-color: #1ac21f;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
        </style>
</head>
<body>
<div>
    <h4>Upload image to drive</h4>

    <a class="button" href="/login">Drive access</a>
</div>
</body>
</html>