<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <title>Document</title>
    <head>
      <style>
      body {
        background-image: url('https://thumbs.dreamstime.com/b/purple-petunia-flowers-bed-beautiful-blurred-nature-background-banner-website-garden-concept-toned-54798543.jpg');
      }
      
      div {
        image-rendering: url('');
  background-color: rgb(255, 255, 255);
  width: 300px;
  border: 15px solid rgb(3, 1, 134);
  padding: 50px;
  margin: 20px;
  margin-left: 450px;
  margin-top: 100px;
}


      </style>
      </head>
</head>
<body>

     
     

   


   <div>
    <img style="height: 100px;" src='https://thumbs.gfycat.com/BitterEveryBlackbird-max-1mb.gif'/>

   <h4>Successfully Uploaded</h4>
    </div>
    
</body>
</html>